containers/images/*.sif filter=lfs diff=lfs merge=lfs -text
*.sif filter=lfs diff=lfs merge=lfs -text
tools/manta/manta-1.6.0.centos6_x86_64/share/demo/manta/data/*.fa filter=lfs diff=lfs merge=lfs -text
